
/* Color Theme Swatches in Hex */
.Danke-in-verschiedenen-Sprachen-1-hex { color: #E477F2; }
.Danke-in-verschiedenen-Sprachen-2-hex { color: #A2AEF2; }
.Danke-in-verschiedenen-Sprachen-3-hex { color: #B4F288; }
.Danke-in-verschiedenen-Sprachen-4-hex { color: #D5F26B; }
.Danke-in-verschiedenen-Sprachen-5-hex { color: #F2A25C; }

/* Color Theme Swatches in RGBA */
.Danke-in-verschiedenen-Sprachen-1-rgba { color: rgba(227, 118, 242, 1); }
.Danke-in-verschiedenen-Sprachen-2-rgba { color: rgba(162, 174, 242, 1); }
.Danke-in-verschiedenen-Sprachen-3-rgba { color: rgba(180, 242, 135, 1); }
.Danke-in-verschiedenen-Sprachen-4-rgba { color: rgba(212, 242, 106, 1); }
.Danke-in-verschiedenen-Sprachen-5-rgba { color: rgba(242, 162, 92, 1); }