:root {
  --light-lila: #eb9bf6;
  --lila: #e477f2;
  --dark-lila: #e520ff;
  --blue: #a2aef2;
  --dark-blue: #667bf1;
  --green1: #b4f288;
  --green2: #d5f26b;
  --light-orange: #ffcb9e;
  --orange: #f89f52;
  --dark-orange: #da6702;
  --grey: #ccc;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 165px;
  display: flex;
  flex-direction: row;
  /* background-image:url(img/20171001_121503.jpg); */
  background-image: url('../img/annie-spratt-ktny-unsplash__mod.jpg');
  color: #fff;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

.header-title {
  flex-grow: 6;
}
.header-left-side {
  flex-grow: 1;
}
.header-right-side {
  flex-grow: 1;
}

.header-h1,
.header-h2,
.header-h3 {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 2.5rem;
  padding: 1.25rem;
  margin: 0rem 1rem 0.5rem -3rem;
}

header h2 {
  font-size: 1.75rem;
  margin: 0rem 1rem 1rem 6rem;
}

.login-link {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  position: fixed;
  right: 0px;
  top: 120px;
  text-align: right;
}
.login-link:hover {
  color: var(--green2);
}

main {
  flex: 1;
}

.landingpage-content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.landingpage-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

a {
  margin: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

a.start {
  color: var(--green2);
  background-color: var(--lila);
}

.home-icon {
  background-color: #fff;
  margin-right: 1rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Times, serif;
  margin-top: 1.5rem;
}

.main-navigation-ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
  font-weight: 500;
  list-style: none;
}
.main-navigation-li {
  width: 13rem;
  padding: 0.25em 0.75em;
  margin: 0.75rem 1.5rem;
}
.main-navigation-li a {
  font-family: Verdana, Tahoma, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--light-lila);
  border: 0.05rem solid var(--light-lila);
  /* color: #fff; */
  border-radius: 0.15rem;
}
.main-navigation-li:visited a {
  color: #000;
}
.main-navigation-li:hover a {
  background-color: var(--dark-lila);
}
.main-navigation-li-active a {
  background-color: var(--dark-lila);
  color: #fff;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.sub-navigation-ul {
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 2rem;
  width: 240px;
}

.sub-navigation-li {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  list-style: none;
  width: 8rem;
  padding: 0.45em 0.75em;
  margin: 0.5rem 1.5rem;
  background-color: var(--blue);
  border: 0.05rem solid var(--blue);
  border-radius: 0.1rem;
}
.sub-navigation-li > a {
  text-decoration: none;
  color: #000;
}
.sub-navigation-li:hover {
  color: #000;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.sub-navigation-li-active {
  background-color: var(--green2);
  border-color: var(--green2);
  color: var(--dark-blue);
}


.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  margin: 2rem;
  align-items: center;
}
.article-item {
  margin: 0.75rem 2.75rem;
}

.select {
  margin-left: 0.75rem;
}

.nomen-item {
  padding-left: 0.7rem;
}

.article-form {
width: 100%;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 240px;
}

.button-wrapper {
  margin: 1.0rem 1.0rem 1.0rem 3.0rem;
}
.form-button {
  background-color: var(--grey);
  padding: 0.35rem 0.75rem;
  margin: 0.75rem;
  border: 1px solid var(--dark-orange);
  border-radius: 0.2rem;
  font-weight: 600;
}
.form-button:hover {
  background-color: var(--orange);
}
.form-button:active {
  background-color: var(--orange);
  position:relative;
  top:1px;
}

.next-button {
  display: flex;
  margin: 1.0rem;
}

.arrow {
  font-size: 1.0rem;
  size: 1.0rem;
}

.login {
  display: flex;
  flex-direction: column;
 align-items: center;
}
.login-form {
  width: 260px;
  display: flex;
  flex-direction: column;

}

footer {
  height: 3rem;
  color: var(--green1);
  background-image: url('../img/annie-spratt-ktny-unsplash__mod.jpg');
}

@media only screen and (max-width: 760px) {
  body {
    font-size: 0.9em;
  }
  header {
    height: 135px;
    display: flex;
    flex-direction: column;
  }

  header h1 {
    font-size: 1.75rem;
    padding: 0.9rem;
    margin: 0rem 0.6rem 0.5rem -1rem;
  }

  header h2 {
    font-size: 1.25rem;
    margin: 0rem 1rem 1rem 2rem;
  }

  .login-link {
    position: fixed;
    right: 0px;
    top: 90px;
    font-size: 1rem;
  }

  .landingpage-content-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .main-navigation-li {
    font-size: 0.9rem;
    width: 8em;
    padding: 0.15em 0.5em;
    margin: 0.15em 1em;
  }

  .main-navigation-ul {
    width: 95%;
  }

  .main-navigation-li a {
    letter-spacing: 0px;
  }

  .items-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 470px;
  }

  .article-item {
    margin: 0.75rem 1.5rem;
  }

  .sub-navigation-ul {
    width: 200px;
  }

  .sub-navigation-li {
    padding: 0.45em 0.5em;
    margin: 0.5rem 0.5rem;
  }

  .content {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.25rem;
    padding: 0.9rem;
    margin: 0rem 0.6rem 0.5rem -1rem;
  }

  header h2 {
    font-size: 1rem;
    margin: 0rem 1rem 1rem 2rem;
  }

  .main-navigation-ul {
    display: flex;
    flex-direction: column;
  }
}
