<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <title>Singular-Plural</title>
</head>

<body>
  <div class="site-wrapper">
    {{include (incHeader)}}
    <main>
      <nav>
        <ul class="main-navigation-ul">
          <li class="main-navigation-li "><a href="artikel.php">DER, DIE, DAS</a></li>
          <li class="main-navigation-li main-navigation-li-active"><a href="singular-plural.php">SINGULAR/PLURAL</a></li>
          <li class="main-navigation-li" ><a href="lueckentexte.php">LÜCKENTEXTE</a></li>
        </ul>
      </nav>
      <div>
        <ul class="sub-navigation-ul">
          <li class="sub-navigation-li">test</li>
          <li class="sub-navigation-li">...</li>
          <li class="sub-navigation-li">...</li>
        </ul>

    </main>
    {{include (incFooter)}}
  </div>
</body>

</html>