<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>{{titel}}</title>
</head>

<body>
  <div class="site-wrapper">
  {% include (incHeader) with {'username': username, 'path' : './'} %}
    <main>
      <nav>
        <ul class="main-navigation-ul">
          <li class="main-navigation-li" ><a href="uebungen/artikel.php" >DER,&nbspDIE,&nbspDAS</a></li>
          <li class="main-navigation-li" ><a href="singular-plural.php">SINGULAR/PLURAL</a></li>
          <li class="main-navigation-li" ><a href="lueckentexte.php">LÜCKENTEXTE</a></li>
        </ul>
      </nav>
      <div>
      </div>
    </main>
    {{include (incFooter)}}
  </div>
</body>

</html>